body {
    padding: 0;
}
#content{
    background-color:white;
    height:70px;
    width:100%;
}
#nav-container{
    width:100%;
    height:70px;
}

#content img{
    float: left;
    max-width: 100%;
    max-height: 100%;
}

#content ul{
    padding:0px;
    margin-top: 0px;
    margin-left: 20px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
}

#content li{
    list-style-type: none;
    padding: 0px;
    height:24px;
    display: inline;
}

#content li a{
    color:black;
    font-size: 20px;
    text-decoration: none;
    line-height: 70px;
    padding: 0px 15px;
}

#current{
    font-weight: bold;
}

#navbarright{
    float: right;
}

#wrapper{
    display: grid;
    grid-template-columns: 1fr 4fr;
    justify-items: center;
    grid-gap: 3px;
    align-items: center;
    row-gap: 50px;
    margin-top: 50px;
}

#ourmissiontext{
    padding-right: 50px;
}
#aboutustext{
    padding-right: 50px;
}

#wrapper2{
    display: grid;
    height: 200px;
    grid-template-columns: 1fr 4fr;
    justify-items: center;
    grid-gap: 3px;
    align-items: center;
    margin-top: 50px;
    background-color: #f5f5f5;
}