@font-face{
    font-family: 'GongGothicBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'GongGothicMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GongGothicLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
    font-family: 'GongGothicLight';
}
body {
    padding: 0;
}
*{
    font-family: 'GongGothicLight';
}
#content{
    background-color:white;
    height:70px;
    width:100%;
}
#nav-container{
    width:100%;
    height:70px;
}

#content img{
    float: left;
    max-width: 100%;
    max-height: 100%;
}

#content ul{
    padding:0px;
    margin-top: 0px;
    margin-left: 20px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
}

#content li{
    list-style-type: none;
    padding: 0px;
    height:24px;
    display: inline;
}

#content li a{
    color:black;
    font-size: 20px;
    text-decoration: none;
    line-height: 70px;
    padding: 0px 15px;
}

#current{
    font-weight: bold;
}

#navbarright{
    float: right;
}

#founder{
    margin-top: 50px;
    margin-left: 100px;
    margin-right:100px;
}