@font-face{
    font-family: 'GongGothicBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'GongGothicMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GongGothicLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
    font-family: 'GongGothicLight';
}
body {
    padding: 0;
}
#content{
    background-color:white;
    height:70px;
    width:100%;
}
#nav-container{
    width:100%;
    height:70px;
}

#content img{
    float: left;
    max-width: 100%;
    max-height: 100%;
}

#content ul{
    padding:0px;
    margin-top: 0px;
    margin-left: 20px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
}

#content li{
    list-style-type: none;
    padding: 0px;
    height:24px;
    display: inline;
}

#content li a{
    color:black;
    font-size: 20px;
    text-decoration: none;
    line-height: 70px;
    padding: 0px 15px;
}

#current{
    font-weight: bold;
}

#navbarright{
    float: right;
}

#description{
    max-width: 100%;
}

#banner img{
    max-width: 100%;
}

#aboutus{
    text-align: center;
}

#aboutushead{
    font-size: 30px;
    margin-bottom: 50px;
    font-family: 'GongGothicMedium'
}
#aboutustext{
    font-size: 14px;
    margin-bottom: 50px;

}
#aboutusbutton{
    border: 1px solid black;
    cursor: pointer;
    border-radius: 12px;
    outline: none;
    background-color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 10px;
    font-family: 'GongGothicBold';
}

#aboutus a{
    text-decoration: none;
    color: black;
}

#services{
    display: inline-block;
}
#wrapper{
    display: grid;
    grid-template-columns: 2fr 4fr 1fr;
    justify-items: center;
    grid-gap: 3px;
    align-items: center;
}

#serviceAButton{
    border: 1px solid black;
    cursor: pointer;
    border-radius: 12px;
    outline: none;
    background-color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 10px;
    color: black;
}

#serviceAButton a{
    text-decoration: none;
    color: black;
}
#banner{
    display: inline-block;
    width: 100%;
    height: 175px;
}

#banner-wrapper {
    height: 100%;
    background-color: black;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    justify-items: center;
    align-items: center;
    font-family: 'GongGothicBold';
    color: white;
}
#banner-wrapper p{
    font-size: 35px;
}
#banner-wrapper button{
    font-family: 'GongGothicLight';
    background-color: #096cc6; 
    font-size: 25px;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 12px;
    border: none;
    color: white;
    margin-right: 50%
}